layout python-venv

source ${PWD}/third_party/zephyr/zephyr-env.sh
PATH_add ${PWD}/litex/litex/tools

export PYTHONPATH="${PWD}/litex"
export PYTHONPATH="$PYTHONPATH:${PWD}/third_party/migen"
export PYTHONPATH="$PYTHONPATH:${PWD}/third_party/litedram"
export PYTHONPATH="$PYTHONPATH:${PWD}/third_party/liteeth"
export PYTHONPATH="$PYTHONPATH:${PWD}/third_party/liteiclink"
export PYTHONPATH="$PYTHONPATH:${PWD}/third_party/litejesd204b"
export PYTHONPATH="$PYTHONPATH:${PWD}/third_party/litepcie"
export PYTHONPATH="$PYTHONPATH:${PWD}/third_party/litesata"
export PYTHONPATH="$PYTHONPATH:${PWD}/third_party/litescope"
export PYTHONPATH="$PYTHONPATH:${PWD}/third_party/litesdcard"
export PYTHONPATH="$PYTHONPATH:${PWD}/third_party/litevideo"

if [ -f .envrc.local ]; then
    source .envrc.local
fi
