layout python-venv

source ${PWD}/third_party/zephyr/zephyr-env.sh
PATH_add ${PWD}/litex/litex/tools

export PYTHONPATH="${PWD}/litex"
export PYTHONPATH="$PYTHONPATH:${PWD}/third-party/migen"
export PYTHONPATH="$PYTHONPATH:${PWD}/third-party/litedram"
export PYTHONPATH="$PYTHONPATH:${PWD}/third-party/liteeth"
export PYTHONPATH="$PYTHONPATH:${PWD}/third-party/liteiclink"
export PYTHONPATH="$PYTHONPATH:${PWD}/third-party/litejesd204b"
export PYTHONPATH="$PYTHONPATH:${PWD}/third-party/litepcie"
export PYTHONPATH="$PYTHONPATH:${PWD}/third-party/litesata"
export PYTHONPATH="$PYTHONPATH:${PWD}/third-party/litescope"
export PYTHONPATH="$PYTHONPATH:${PWD}/third-party/litesdcard"
export PYTHONPATH="$PYTHONPATH:${PWD}/third-party/litevideo"

if [ -f .envrc.local ]; then
    source .envrc.local
fi
